<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3 class="text-center mt-5">Login</h3>
        <div class="row mt-2">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-body">
                       <!-- <form method="POST" action="/admin/login-check">
                            <label  class="form-label mt-2">Email address</label>
                            <input class="form-control" type="text" name="email" placeholder="Enter Email" required>
        
                            <label  class="form-label mt-2">Password</label>
                            <input class="form-control " type="password" name="password" placeholder="Enter Password" required>
                            <input type="submit"  class="btn btn-primary mt-2" value="Login">
                       </form> -->
                       <a href="/login"><button>Go to Login Page </button> </a>
                       <a href="/logout"><button>logout </button> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>